<a href="https://colab.research.google.com/github/chacha86/ai-test-result/blob/main/%EB%8D%B0%EC%9D%B4%ED%84%B0_%EB%B6%84%EC%84%9D_%EA%B9%80%ED%95%98%EB%B9%88.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
stu = pd.read_excel('/content/students.xlsx')

In [ ]:
stu

In [ ]:
# 위에서 5개 확인

stu.head()

In [ ]:
# 아래에서 5개 확인
stu.tail()

In [ ]:
# 요약 정보 보기
stu.info()

In [ ]:
# 통계 정보 보기
stu.describe()

In [ ]:
# 컬럼 목록 리스트로 가져오기

stu.columns.values

array(['번호', '이름', '국어', '영어', '수학', '지역명', '생년월일'], dtype=object)

In [ ]:
# 인덱스 목록 리스트로 가져오기
stu.index.values

In [ ]:
# 특정 컬럼 삭제
stu.drop('생년월일', axis=1)


# 특정 로우 삭제
stu.drop(4, axis=0)


# 특정 컬럼 여러개 삭제
stu.drop(['생년월일', '지역명'], axis=1)

In [ ]:
# 특정 컬럼 선택
stu['이름']
stu['수학']

# 특정 컬럼 여러개 선택
stu[['이름', '수학']]

stu[['국어', '영어', '수학']]

In [ ]:
# 특정 로우 선택(인덱스 값으로)
stu.loc[4]


# 특정 로우(인덱스 순서로)
stu.iloc[5]

# 특정 컬럼의 특정 로우 선택
stu.loc[4, '수학']
stu.loc[4, ['이름', '국어', '영어', '수학']]

stu.loc[[4, 6], ['이름', '국어', '영어']]

stu.loc[4:6, ['이름', '국어', '영어'] ]

In [ ]:
# boolean 접근

stu_5 = stu.head()

stu_5.loc[[0, 4]]

stu_5.loc[[True, False, False, False, True]]

stu_5.loc[[False, True, True, False, False]]

# 조건으로 로우 선택

idx = stu_5['수학'] < 80
stu_5.loc[idx]

stu_5.loc[stu_5['지역명'] == '대전']

   번호   이름  국어  영어  수학 지역명       생년월일
0   1  이현진  68  77  81  대전 2050-08-17
4   5  김혜수  83  76  67  대전 2050-01-25

In [ ]:
# 아래 문제를 해결해주세요.


# 1. 국어가 80점 이상인 학생의 이름과 생년월일


# 2. 수학이 80점 미만인 학생의 영어와 국어 점수


# 3. 국어와 수학이 90점 이상인 학생의 이름, 수학, 국어 점수


# 4. 모든 과목이 60점 미만인 학생의 번호, 이름, 생년월일


# 5. 대전 지역 학생들의 이름, 국어, 영어, 수학 점수

In [ ]:
# 정렬

# 오름차순
stu.sort_values('수학')

# 내림차순
stu.sort_values('수학', ascending=False)

# 복합 정렬
stu.sort_values(['수학', '국어'], ascending=[False, False])

In [ ]:
# 집계(그룹핑)
stu.groupby('지역명')['수학'].mean()
stu.groupby('지역명')['수학'].sum()
stu.groupby('지역명')['수학'].max()
stu.groupby('지역명')['수학'].min()

In [ ]:
# 아래 문제를 해결해주세요.


# 1. 학생들의 총점, 평균 구하기
stu[['국어', '영어', '수학']].mean(axis=1)
stu[['국어', '영어', '수학']].sum(axis=1)



# 2. 학생들의 평균이 높은 순으로 정렬. 만약 평균이 같다면 학번으로 오름차순

In [ ]:
stu.sort_values(['평균', '번호'], ascending=[False, True])